*{
    background-color: black;
}
main{
  background-color: black;
}
.panellog{
  margin-left: -20px;
}
.logos{
  text-align: right;
}
.men{
  text-align: left;
}
header {
  position: sticky;
  top: 0;
  z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #e28204;
    text-align: left;
    list-style: none;
    background-color: #000000;
    background-clip: padding-box;
    border: 1px solid rgba(116, 71, 71, 0.15);
  }
  .dropdown-menu-left {
    right: auto;
    left: 0;
  }
  
  .dropdown-menu-right {
    right: 0;
    left: auto;
  }
 .m-0{
    color: rgb(0, 0, 0);
 }
 .mb-5{
    color: orangered;
 }
 .nav-link
 {
 color: orange;
 }
 p{
   padding-left: 30px;
   color: orange;

 }
 h1{
   padding-left: 30px;
   color: orange;
 }

