header{
  background-color: #000000;
}
main{
  background-image: url('../img/fondox.jpg'); /* Ruta correcta de la imagen */
  background-size: cover; /* Hace que la imagen cubra toda el área de la pantalla */
  background-position: center center; /* Centra la imagen en la pantalla */
  background-attachment: fixed; /* Hace que la imagen se quede fija mientras se desplaza el contenido */

}
footer{
  background-color: #000000;
}
body {
  background-image: url('../img/fondox.jpg'); /* Ruta correcta de la imagen */
  background-size: cover; /* Hace que la imagen cubra toda el área de la pantalla */
  background-position: center center; /* Centra la imagen en la pantalla */
  background-attachment: fixed; /* Hace que la imagen se quede fija mientras se desplaza el contenido */
 
}
main{
  background-color: black;
}
.panellog{
  margin-left: -20px;
}
.logos{
  text-align: right;
}
.men{
  text-align: left;
}
header {
  position: sticky;
  top: 0;
  z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #e28204;
    text-align: left;
    list-style: none;
    background-color: #000000;
    background-clip: padding-box;
    border: 1px solid rgba(116, 71, 71, 0.15);
  }
  .dropdown-menu-left {
    right: auto;
    left: 0;
  }
  
  .dropdown-menu-right {
    right: 0;
    left: auto;
  }
 .m-0{
    color: rgb(0, 0, 0);
 }
 .mb-5{
    color: orangered;
 }
 .nav-link
 {
 color: orange;
 }
 p{
   padding-left: 30px;
   color: orange;

 }
 h1{
   padding-left: 30px;
   color: orange;
  
 }
 .carousel-inner img {
  padding-top: 100px;
  width: 150%;  /* Asegura que la imagen ocupe todo el ancho del contenedor */
  height: auto;  /* Mantiene la relación de aspecto de la imagen */
  max-width: 150%;  /* Limita el tamaño máximo al 100% del contenedor */
  max-height: 500px;  /* Limita la altura máxima para evitar que la imagen sea demasiado grande */
  object-fit: contain;  /* Asegura que la imagen se ajuste al contenedor sin recortarse */
}

h2 {
  color: white; /* Color del texto */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra del texto */
}




